@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Estedad;
    src: url(../fonts/Estedad.ttf);
}

@theme {
    --font-estedad: Estedad;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #F3F3F3;
}