@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Estedad;
    src: url(../fonts/Estedad.ttf);
}

@theme {
    --font-estedad: Estedad;
}

.map {
    display: block;
    width: 330px;
    height: 330px;
    border-radius: 4px;
    overflow: hidden;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}

input::placeholder {
    color: #9A9A9A;
    font-size: 14px;
    
}